:root {
  --color-dark: #101828;
  --color-gray-700: #475467;
  --color-gray-600: #6c717b;

  --color-red: #e44848;
  --color-red-dark: #d84343;
  --color-yellow: #ffc531;

  --color-gray-200: #dadde1;
  --color-gray-100: #f2f4f7;
  --color-gray-50: #f7f7f7;
  --color-white: #ffffff;
}
